{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    <form class="form-signin"  method='POST'  action="{% url 'home' %}">
          {% csrf_token %}
        <div>АВТОРИЗАЦИЯ</div>
          <label for="username">Логин</label>
          <input type="text" name="access" placeholder="username" class="form-styling">
          <label for="password">Пароль</label>
          <input type="password" name="secret" placeholder="password" class="form-styling">
          <button type="submit"  value='log_in' >Войти</button>
    </form>
    <br><br>
    <form class="form-regin"  method='POST'  action="{% url 'reg' %}">
          {% csrf_token %}
        <div>РЕГИСТРАЦИЯ</div>
          <label for="username">Логин</label>
          <input type="text" name="access" placeholder="username" class="form-styling">
          <label for="password">Пароль</label>
          <input type="password" name="secret" placeholder="password" class="form-styling">
          <button type="submit"  value='log_in' >Создать аккаунт</button>
    </form>

{% endblock %}


{#<form class="form-signin" method="POST" action="{% url 'home'%}">#}
{#{% csrf_token %}#}
{#    <div>#}
{#        <label for="access" style="font-size:20px">Access Key</label>#}
{#        <input type="text" name="access" class="form-styling" placeholder="username" style="font-size:20px">#}
{#    </div>#}
{#    <div>#}
{#        <label for="secret" style="font-size:20px">Secret Key</label>#}
{#        <input type="password" name="secret" class="form-styling" placeholder="password" style="font-size:20px">#}
{##}
{#    </div>#}
{#    <button type="submit" value="log_in" style="font-size:20px">Войти</button>#}
{#</form>#}
